.inside-join-us-portion:hover{
    background-color: #CA9E23;
    color: rgba(0, 0, 0, 0.87);
}
.join-button:hover{
    background-color: #CA9E23;
    color: rgba(0, 0, 0, 0.87);
}
.contribute-button:hover{
    background-color: #CA9E23;
    color: rgba(0, 0, 0, 0.87);
}
.view-more-button:hover{
    background-color: #CA9E23;
    color: rgba(0, 0, 0, 0.87);
}